@model IEnumerable<TitleUrlResponse1.Models.Info>
@{
    ViewBag.Title = "Получаем информацию о запросе";
}

<h2>@ViewBag.Title.</h2>

<p></p>

<h3>@ViewBag.MessageAboutUrl</h3>
<p></p>
<h3>@ViewBag.MessageEncoding</h3>
<p></p>
<h3>@ViewBag.TitleUrl</h3>
