@model IEnumerable<TitleUrlResponse1.Models.Info>
@{
    ViewBag.Title = "Получаем информацию о запросе";
}

<div class="myStyle">
    <h5>Получаем информацию о запросе</h5>

    <table class="table table-bordered table-hover">
        <tr class="info">
            <td><p>URL</p></td>
            <td><p>Last title</p></td>
            <td><p>Last status</p></td>
            <td><p>Last request date</p></td>
        </tr>
        @foreach (var i in ViewBag.Info)
        {
            <tr>
                <td><p>@i.NameUrl</p></td>
                <td><p>@i.TitleUrl</p></td>
                <td><p>@i.StatusCode</p></td>
                <td><p>@i.LastModified</p></td>
            </tr>
        }

    </table>

</div>