@model IEnumerable<TitleUrlResponse1.Models.Info>
@{
    ViewBag.Title = "Получаем информацию по url";

}

<div id="myform">

    @using (Html.BeginForm("About", "Home", FormMethod.Post))
    {
        <p>Введите адреса url через запятую или пробел</p>
        <p><textarea id="text" name="text" placeholder="Адрес должен начинаться с http:// или https://" rows="10" cols="45" class="form-control focus"></textarea></p>
        <input type="submit" value="Получить информацию" id="preloaderDownLoad" />

    }


</div>

<div id="preloader">
    <div class="dws-progress-bar">  </div>
</div>

<div>
    <titleurl>Downloading Angular... </titleurl>


</div>



@Styles.Render("~/Content/css")
@section Scripts {
    @Scripts.Render("~/scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/scripts/preloader/plugin.js")
    @Scripts.Render("~/scripts/preloader/preloader.js")
    <script src="~/public/polyfills.js"></script>
    <script src="~/public/app.js"></script>
}

